<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>kitabisa</td><td>CampaignPageTest.Submit_donasi()[pri:0, instance:kitabisa.CampaignPageTest@5082d622]<br/></td></tr>
</table>
