<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f69090">  <td>22/01/12 13:22:28</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CampaignPageTest.AfMet()[pri:0, instance:kitabisa.CampaignPageTest@5082d622]">&lt;&lt;AfMet</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="f69090">  <td>22/01/12 13:22:28</td>   <td>-22</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CampaignPageTest.Submit_donasi()[pri:0, instance:kitabisa.CampaignPageTest@5082d622]">Submit_donasi</td> 
  <td>main@2027317551</td>   <td></td> </tr>
<tr bgcolor="f69090">  <td>22/01/12 13:22:28</td>   <td>-38</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CampaignPageTest.BefMet()[pri:0, instance:kitabisa.CampaignPageTest@5082d622]">&gt;&gt;BefMet</td> 
<td>&nbsp;</td>  <td>main@2027317551</td>   <td></td> </tr>
</table>
